<div class="ui container">
  <h1>StoreSpa </h1>
  <div class="ui top attached tabular menu">  <!-- pravimo meni, a ispod cemo da imamo divove za svaki podmeni koje cemo nekako da povezemo -->
    <a class="item active" data-tab="user-profile">User profile</a>   <!-- povezivanje radimo sa ovim data-tab, mora da se zove isto kao i ovi divovi za koje ih vezujemo-->
    <a class="item" data-tab="products">Products</a>
    <a class="item" data-tab="add-a-product">Add a product</a>
  </div>

  <div class="ui bottom attached tab segment active" data-tab="user-profile">
    <app-user-profile></app-user-profile>  <!-- samo ovaj red je ostao od proslog primera-->
  </div>

  <div class="ui bottom attached tab segment" data-tab="products">
    <!-- ovde navodimo i pdoatke za koje radimo ulazni tok iz parenta (?)
    [ime_u_dete_komponenti]="ime_toga_u_parentu" 
    znaci mi sada product-list komponenti prosledjujemo listu productsFromRoot-->
    <app-product-list [products]="this.productsFromRoot"></app-product-list>
  </div>

  <div class="ui bottom attached tab segment" data-tab="add-a-product">
    <!-- iz crete product ce nam u ovu app root komponentu stizati podaci o novom porizvodu tako sto ce se tamo emitovati neki dogadjaj, ovde
    to treba da nekako povezemo -->
    <app-create-product (productCreated)="onProductCreated($event)"></app-create-product>
  </div>
  
</div>
