<div class="ui grid">
    <div class="four wide column">
        <div class="ui card">
            <div class="ui dimmer" [ngClass]="{active: shouldDisplayUserForm}">
                <div class="ui text loader">Loading...</div>
            </div>
            
            <div class="ui image">
                <img [src]="getUserImage()" alt="User's profile picture">
            </div>

            <div class="content">
                <p class="header">{{ user?.name }}</p>
                <p class="description"> {{ user?.email }} </p>
            </div>
        </div>
    </div>

    <div class="twelve wide column">
        <button class="ui button" (click)="onChangeInfo()"> Change profile info </button>
        
        <form class="ui form" [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()" *ngIf="shouldDisplayUserForm; else changeUserInfo">
            <label>Username</label>
            <input type="text" formControlName="username">

            <label>Name</label>
            <input type="text" formControlName="name"/>

            <label>Email</label>
            <input type="email" formControlName="email">

            <div class="form-group">
                <label>Choose file:</label>
                <input type="file" formControlName="imgUrl" (change)="onFileChange($event)">
            </div>
        
            <button class="ui button" type="submit">Save changes</button>
        </form>

        <ng-template #changeUserInfo>
            <p> Click above to change user info.</p>
        </ng-template>
    </div>
</div>