<div>
    <div class="filters">
        <label>importance:</label>
        <select id="importanceFilter" (change)="importanceFilterSelected()">
            <option [value]='0'>--all--</option>
            <option [value]='1'>Very Important</option>
            <option [value]='2'>Mildly Important</option>
            <option [value]='3'>Less Important</option>
        </select>
        
        <br>

        <label>complexity:</label>
        <select id="complexityFilter" (change)="complexityFilterSelected()">
            <option [value]='0'>--all--</option>
            <option [value]='1'>Easy</option>
            <option [value]='2'>Mildly complex</option>
            <option [value]='3'>Very Complex</option>
        </select>
    </div>

    <div class="listButton" (click)="clickedGoalInList(goal._id)" *ngFor="let goal of filteredGoals" [ngStyle]="{'background-color' : importanceColor(goal.vaznost)}">
        {{goal.naziv}}
    </div>
    

    <button class="bigButton" routerLink="/add-goal" routerLinkActive="active">Add goal</button>
</div>