<h3>Product list</h3>

<div class="ui divided items">
    <app-product-info class="ui item" *ngFor="let product of products | async" [product]="product"></app-product-info>

    <!-- koristimo nas pajp
    Mozemo da korsitimo i vise pajpova ovako, npr ovde da bi prosledili u productSum, podaci moraju da budu Product[] a ovde su Observable<Product[]>
    pa sa async skidamo observable. Na kraju mozemo tu sumu cena i da prikazemo kao neku cenu sa currency
    Vidi zasto smo korsitili *ngIf u product-details, ovde je bilo zbog null, jer se tu zalio kompajler ako bismo napisali samo ovako:
            <h2> Total price: {{ products | async | productSum | currency}} </h2>
    -->
    <h2 *ngIf="products | async as prods"> Total price: {{ prods | productSum | currency}} </h2>
</div>
