<div class="ui container">
  <h1> Store SPA </h1>
  <!-- Umesto koda u ovom komenatru stavljamo nasu novu komponentu za navigaciju
  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="user-profile">User Profile</a>
    <a class="item" data-tab="products">Products</a>
    <a class="item" data-tab="add-a-product" *ngIf="user !== null">Add a product</a>
  </div> -->
  <app-nav-menu></app-nav-menu>

  <!--Ovo u komentaru je stajalo tu do sad, vise nam ne treba jer cemo to da zamenimo sa router otulet  -->
  <!-- <div class="ui bottom attached tab segment active" data-tab="user-profile">
    <app-user-info></app-user-info>
  </div>
  <div class="ui bottom attached tab segment" data-tab="products">
    <app-product-list [products]="productsFromRoot"></app-product-list>
  </div>
  <div class="ui bottom attached tab segment" data-tab="add-a-product" *ngIf="user !== null">
    <app-create-product (productCreated)="onProductCreated($event)"></app-create-product>
  </div> -->
  <div class="ui segment">
    <!-- dodajemo router otulet
    on sam po sebi nema prikaz nego ce njegov element da se zameni onim sto treba tu da se prikaze kada se dodje na putanju (?)-->
    <router-outlet></router-outlet>
  </div>
</div>